#header {
  margin:auto
}
.center{
  display:block
  margin-left:auto
  margin-right:auto
  width: 50px;
  font: size 22px; 
}
nav ul li{
  padding: 10px;
  background-color: grey
  ;
}
<div>s
footer:left

{

